@media (max-width: 1399.98px) {
	.card {
		width: 80%;
	}
	.tittle-heading {
		font: normal normal bold 34px/45px Poppins;
	}
	.tittle-pera {
		font: normal normal normal 16px/28px Poppins;
	}
	.main-btn {
		font: normal normal 600 16px/15px Poppins;
	}
	.about-info,.bee-licious-card {
		padding: 40px;
	}
	.about-info, .bee-licious-card {
		padding: 25px;
	}
	.rp-sm {
		margin: 0 auto;
		display: block !important;
	}
	.footer-section a {
		margin: 10px 0;
	}
}
@media (max-width: 991.98px) { 
	.page-header {
		border-bottom: none;
		padding: 10px 10px;
		margin: 0;
		background: #ffc545;
	}
	.banner-title {
		position: inherit;
		top: auto;
		left: auto;
		padding: 50px 10px;
		margin-top: 100px;
	}
	.banner-section {
		height: 100%;
	}
	.section-about-us ,.section-bee-licious {
		height: 1200px;
	}
	.Bee-licious-right-section {
		position: relative;
		margin-top: 86px;
	}
	.bee-bc-img {
		left: 15%;
	}
	.item-tab a, .item-tab, .active-item {
		font: normal normal 500 16px/23px Poppins !important;
	}
	.section-endless-food {
		padding: 45px 25px;
		text-align: center;
	}
	.revolution-info-card {
		margin: 10px;
		right: 0;
		left: 0;
		top: 50px;
	}
	.section-revolution {
		padding: 25px 25px;
		height: 715px;
	}
	.bee-licious-card {
		padding: 40px 60px 40px 40px;
	}
	.offer-div .contant-div {
		padding: 40px;
		background: #fffdfa 0% 0% no-repeat padding-box;
		border-radius: 29px;
		box-shadow: #f5e0b1 0px 7px 29px 0px;
		opacity: 0.90;
	}
	.offer-div .contant-div .main-btn {
		float: none !important;
		text-align: center;
	}
	.card {
		margin: 0 auto;
		height: 401px;
		width: 100%;
	}
	.carousel-inner {
		padding: 10px;
		width: 88%;
	}
	.follow-us-section {
		padding: 150px 40px 50px;
		height: 100%;
	}
	.footer-section {
		height: 100%;
		padding: 40px;
		text-align: center;
	}
	.rp-sm {
		margin: 0 auto;
	}
	.footer-section a {
		margin: 10px 0;
	}
}
@media (max-width: 767.98px) { 
	.page-header {
		border-bottom: none;
		padding: 10px 10px;
		margin: 0;
		background: #ffc545;
	}
	.banner-title {
		margin-top: 20%;
	}
	.banner-background-img, .revol-img, .about-i, .Bee-licious-right-section ,.bee-Offer-section {
		display: none;
	}
	.item-tab a, .item-tab, .active-item {
		font: normal normal 500 16px/23px Poppins !important;
	}
	.section-endless-food {
		padding: 45px 25px;
		text-align: center;
	}
	.revolution-info-card {
		margin: 10px;
		right: 0;
		left: 0;
		top: 50px;
	}
	.section-revolution {
		padding: 25px 25px;
		height: 715px;
	}
	.bee-licious-card {
		padding: 40px 60px 40px 40px;
	}
	.offer-div .contant-div {
		padding: 40px;
		text-align: center;
	}
	.offer-div .contant-div .main-btn {
		float: none !important;
		text-align: center;
	}
	.card {
		margin: 0 auto;
		height: 401px;
		width: 100%;
	}
	.carousel-inner {
		padding: 10px;
		width: 88%;
	}
	.follow-us-section {
		padding: 150px 40px 50px;
		height: 100%;
	}
	.footer-section {
		height: 100%;
		padding: 40px;
		text-align: center;
	}
	.rp-sm {
		margin: 0 auto;
	}
	.footer-section a {
		margin: 10px 0;
	}
	.section-about-us ,.section-bee-licious {
		height: 798px !important;
	}
	.bee-bc-img {
		left: 5%;
	}
}
@media (max-width: 575.98px) {

}